@value base: calc(1rem * 1.25); /* 20px */

@value xs: calc(base / 4);
@value small: calc(base / 2);
@value normal: base;
@value large: calc(base * 2);

.margin-small { margin: small; }
.margin-normal { margin: normal; }
.margin-large { margin: large; }

.margin-bottom-small {  margin-bottom: small;  }