@value normal as t-normal, large as t-large, xxl as t-xxl from './css/typography.css';
@value normal as m-normal, large as m-large, xxl as m-xxl from './css/layout.css';
@value void, white, neon from './css/colors.css';

@custom-media --viewport-small (width <= 30rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --centered: {
    display: flex;
    align-items: center;
    justify-content: center;
  };
}

:root {
  @mixin font t-normal;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

body {  background: void; margin: m-large;  }
main {  margin: m-normal;  }
header {  @apply --centered;  flex-direction: column;  }
#app {  margin: 0 auto;  max-width: 960px;  width: 100%;  }

:--heading {  font-weight: normal;  margin: m-normal 0;  }

h1 {
  @mixin font t-xxl;
  border-bottom: 2px solid #000;
  color: neon;
  text-transform: uppercase;
  text-align: center;
}

h2 {  @mixin font t-large; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a { color: neon; }